input[type=date] {
    border-radius: 0;
    border: 1px solid var(--grey);
    padding: 1.2rem;
    font-size: 1.2rem;
    width: 100%;
    color: var(--grey);
}

input[type=date]::placeholder {
    font-style: italic;
}

.textBoxWrapper {
    position: relative;
    width: 100%;
}

.button {
    display: inline-block;
    background-color: var(--red);
    color: var(--white);
    padding: 1rem;
}

.textbox-inline-button {
    position: absolute;
    bottom: 0;
    right: 0;
    transform: translate(1.8rem, -0.4rem);
}